module.exports=
{
  "viewpath":__dirname+"/views/",
  "plugins":{
//     "settings":{
//       "keyword":'seSettings',
//       "seName":"sequelize",
//       "cacheName":"mem",
//       "suffix":"",
//     },
  }, 
  "modules":[
//    'html',
  ],
}
 
